<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent" >
        <div>
          <a class="navbar-brand" href="/">My Blogs</a>
        </div>
        <div>
          <a class="text-decoration-none active" aria-current="page" href="/compose">Add Blog</a>
        </div>
      </div>
    </div>
</nav>